@model HelpDesk.Mvc.Areas.Employee.Models.TicketListModel
@{
    Layout = "_Layout";
    ViewBag.Title = "TicketList Index";
}

@section Scripts
{
    <script src="~/js/ticketListEmployee.js" type="application/ecmascript"></script>
}

<div id="modelPlaceHolder" aria-hidden="true"></div>
<div class="card mb-4 mt-3">
    <div class="card-body">
        
        <div class="spinner-border" role="status" style="display: none">
            <span class="sr-only">Loading... </span>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" id="companyTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Arıza Id</th>
                    <th>Kullanıcı Adı</th>
                    <th>Kullanıcı Email</th>
                    <th>Problem Başlık</th>
                    <th>Açıklama</th>
                    <th>Talep Tarihi</th>
                    <th>Durum</th>

                    <th width="25%">Options</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Arıza Id</th>
                    <th>Kullanıcı Adı</th>
                    <th>Kullanıcı Email</th>
                    <th>Problem Başlık</th>
                    <th>Açıklama</th>
                    <th>Talep Tarihi</th>
                    <th>Durum</th>


                    <th width="25%">Options</th>
                </tr>
                </tfoot>
                @*<tbody>
                            <td>
                                <button class="btn btn-info btn-sm btn-update"><span class="fas fa-edit"></span>İncele</button>
                                <button class="btn btn-info btn-sm btn-warning"><span class="fas fa-edit"></span>Durum Değiştir</button>
                                <button class="btn btn-danger btn-sm  btn-delete"><span class="fas fa-minus-circle"></span>Kayıt Sil</button>
                            </td>
                        </tr>
                    </tbody>*@
                <tbody>
                @foreach (var ticket in Model.Tickets)
                {
                    <tr name="@ticket.TicketId">
                        <td>@ticket.TicketId</td>
                        <td>@ticket.UserName</td>
                        <td>@ticket.UserEmail</td>
                        <td>@ticket.Title</td>
                        <td style="max-height: 50px; max-width: 300px;">@Html.Raw(@ticket.Description)</td>
                        <td>@ticket.CreatedDate</td>
                        <td>@ticket.StatusName</td>
                        <td>
                            <button class="btn btn-info  btn-Detail" ticket-id="@ticket.TicketId" type="button" id="btn-Detail"><span class="fas fa-edit"></span>İncele</button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

